html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.navcontainer {
  display:flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100vw; /* Full width */
  height: 120px;
  background-color: #4056A1 ;
  color: #FFFFFF;
  padding: 1.5em;
  font-family: 'Bungee', sans-serif;
  justify-content: space-between;
}

.navtitle {
  font-size: 200%;
}


.doublearrow {
  color: red;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}