

/*------ new-tweet form styling ------*/
#submit-form {
  flex-direction: column;
  padding-bottom: 3%;
}

#tweet-input {
  font-family: 'Source Sans Pro 600', sans-serif;
  color: #545149;
  margin: .5em 0 .5em 0; 
  border: none;
  border-bottom: 3px solid #545149;
  width: 100%;
  background-color: #f4f1ec;
  
}
.each-tweet .message {
  word-break: break-all;
}

.tweetbtn-and-counter {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

button.tweet {
  color: #f4f1ec;
  background-color: #4056A1;
  border: hidden;
}


/*------ form errors styling ------*/
.error {
  display: flex;
  flex-direction: row;
  color: red;
  min-height: 1rem;
}

#error-message {
  margin: .75em;
  display: flex;
  align-items: center;
}
