
section {
  font-family: 'Source Sans Pro 600', sans-serif;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

textarea {
  font-family: 'Source Sans Pro 600', sans-serif;
  color: #545149;
  display: flex;
  margin: .75em;
  justify-content: center;
  width: 1100px;
  border: hidden;
  background-color: #f4f1ec;
  border-bottom-style: solid;
}
.tweetandcount {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

button {
  color: #f4f1ec;
  background-color: #4056A1;
  border: hidden;
}

.error {
  display: flex;
  flex-direction: row;
  color: red;
  min-height: 1rem;
  /* display: none; */
  
  /* border: red, solid */

}
#error-message {
  margin: .75em;
  display: flex;
  align-items: center;
  
}
