
section {
  font-family: 'Source Sans Pro 600', sans-serif;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

textarea {
  font-family: 'Source Sans Pro 600', sans-serif;
  color: #545149;
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 800px;
  border: hidden;
  background-color: #f4f1ec;
  border-bottom-style: solid;
}
.tweetandcount {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

button {
  color: #f4f1ec;
  background-color: #4056A1;
  border: hidden;
}


